 <div class="member-container">
  <figure class="avatar-dashboard">
    <% if user === current_user.tribe.users.first %>
      <div class="member-status member-status-green">
    <% else %>
      <div class="member-status">
    <% end %>
      <!-- here show be a red or green dot for member status -->
    </div>
      <%= cl_image_tag user.photo, alt:'avatar', class: 'avatar avatar-bordered', height: 40, width: 40 %>
  </figure>

  <div class="member-info">
    <%= user.first_name %>
    <%= user.last_name %>
  </div>
</div>

