 <div class="member-container">
  <div class="member-status">
    <!-- here show be a red or green dot for member status -->
  </div>
  <div class="avatar"'>
    <%= image_tag("https://www.shareicon.net/data/256x256/2015/09/18/103160_man_512x512.png", alt: 'avatar', height: 50, width: 50) %>
 </div>
 <div class="member-info">
    <%= User.find(current_user.id).first_name %>
    <%= User.find(current_user.id).last_name %>
 </div>
</div>
