// Specific CSS for your home-page
.head-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}
.banner {
  flex-grow: 1;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-success2 {
  @extend .btn-success;
  background-color: $tribu-green;
  border-color: $tribu-green;
  outline: none;
  border-radius: 20px;
}
.btn-success2:hover {
  background-color: $tribu-green2;
  border-color: $tribu-green2;
  text-decoration: none;
  outline: none;
}
.btn-success2:focus {
  box-shadow: none !important;
  border-color: none !important;;

 }
.btn-success2:active {
  box-shadow: none !important;
  background-color: $tribu-green2 !important;
  border-color: $tribu-green2;
  border-color: transparent !important;;
}
.btn-light {
  vertical-align: center;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 35px;
}
.btn-container {
  width: 200px;
  margin:40px auto 0px auto;
}
.container {
  text-align: center;
}
.btn-banner {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px !important;
}
.banner2 {
  display: flex;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  flex-direction: column;
}
.banner2 h3 {
  margin: 0;
  color: $tribu-green;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;

}
.banner2 p {
  font-size: 14px;
  color: black;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-top: 20px;
  padding-right: 15%;
  padding-left: 15%;
}
.image {
  max-width: 70%;
  margin: auto;
}
.banner3  {
  display: grid;
  background: linear-gradient(rgba(0, 185, 160, 1),rgba(250, 225, 125, 1));
  text-align: center;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 40% 40% 10%;
}
.banner3 h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
}
.banner3 h4 {
  margin: 0;
  color: white;
  font-size: 26px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner3 p {
  margin: 0;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.howto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  flex-direction: column;
}
.text-block {
  justify-content: flex-start;
  padding-top: 50px;
}
.header-banner3 {
  grid-column: 1 / span 3;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-banner3 {
  grid-column: 1 / span 3;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner4 {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10% 25% 45% 20%;
  background-color: light-gray;
  grid-column-gap: 0px;
}
.header-banner4 {
  grid-column: 1 / span 3;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner4 h4 {
  margin: 0;
  color: white;
  font-size: 26px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.price ul li {
  list-style: none;
  text-align: left;
  padding: 6px;
  border-radius: 6px;
}
.price ul {
  width: 80%;
  padding-left: 0;
}
.tester {
  margin: 0 auto;
  max-width: 300px;
}
.price {
  justify-content: flex-start;
  margin: 0 30px;
  box-shadow: 2px 2px 2px rgba(10,10,10,0.1);

}
.banner-flex {
  display: flex;
  justify-content: center;
}
.price-title {
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.price-off {
  padding: 6px;

}
.price-box-flex {
  display: flex;
  flex-direction: rows;
  justify-content: flex-end;
  align-items: center;
}
