
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://res.cloudinary.com/df0udw5lo/image/upload/v1552561368/header-1024x498.jpg');" alt="Banner" style="width:100vh">
  <div class="container">
    <h1>The family newspaper</h1>
    <h1>that unites generations</h1>
    <div class="btn-banner">
      <div>
        <a class="btn btn-light" href="#" style="font-size: 22px; width: 200px; margin-right: 50px;">Subscribe now</a>
      </div>
      <div>
        <a class="btn btn-success2" href="#" style="font-size: 22px; width: 200px; margin-left: 50px;">Test me</a>
      </div>
    </div>
  </div>
</div>

<div class="banner2" alt="explication produit">
  <h3>Give the opportunity to your grandparents</h3>
  <h3>to follow their family news!</h3>
  <p>Social networks have become essential to communicate and take news of the family. However, most of the grandparents do not access it. Thanks to My Tribu News, the person of your choice receives every month in his letterbox a customised newspaper created especially for him via <strong>smartphone</strong> et <strong>computer</strong> or Facebook and Instagram.</p>
  <img class="image" alt="mon image" src="https://res.cloudinary.com/df0udw5lo/image/upload/v1552561486/TRIBU_JOURNAL_PRESSE.jpg">

  <div>
    <a class="btn btn-success2" href="#" style="font-size: 22px; width: 200px; margin-bottom: 35px;">Subscribe</a>
  </div>
</div>
<div class="banner3" alt="how it's working" style="">
  <h3 class="header-banner3">How is it working?</h3>
    <div class="howto" alt="block 1">
      <%= image_tag "https://res.cloudinary.com/df0udw5lo/image/upload/v1552556396/how-visual-1-1.png" , alt: "Mon image1",  class: "images31" %>
    </div>
    <div class="howto" alt="block 2">
      <%= image_tag "https://res.cloudinary.com/df0udw5lo/image/upload/v1552556396/how-visual-2-1.png" , alt: "Mon image2",  class: "images32" %>
      </div>
    <div class="howto" alt="block 3">
      <%= image_tag "https://res.cloudinary.com/df0udw5lo/image/upload/v1552556396/how-visual-3-1.png" , alt: "Mon image3",  class: "images33" %>
      </div>

    <div class="howto text-block" alt="block text 1">
      <h4 style="text-align: center;"><strong>1.) Log in</strong></h4>
      <p>Create your family newspaper.</p>
    </div>
    <div class="howto text-block" alt="block text 2">
      <h4 style="text-align: center;"><strong>2.) Invite your Tribufamily</strong></h4>
      <p>Members of your Tribufamily add pictures to your account.</p>
    </div>
    <div class="howto text-block" alt="block text 3">
      <h4 style="text-align: center;"><strong>3.) Edit the newspaper</strong></h4>
      <p>Up to the last day of the month, you can delete, move, add pictures and messages.</p>
    </div>

  <div class="btn-banner3">
    <a class="btn btn-light" href="#" style="font-size: 22px; width: 200px;">Subscribe</a>
  </div>
</div>

<div class="banner4" alt="prices" style="">
  <h3 class="header-banner4">Each family it’s choice</h3>
  <div class="banner-flex">
    <div class="price price1" alt="prices1">
        <h4 class="price-title" style="background-color: #FAE17D">Abonnement 1 mois</h4>
        <p style="font-size: 40px; font-weight: 700;color: rgb(100,100,100);">10€</p>
        <ul>
          <li><i class="fas fa-check"></i> Up to 12 pages</li>
          <li><i class="fas fa-check"></i> A4 printing on quality paper</li>
          <li><i class="fas fa-check"></i> Home delivery (all over the world)</li>
          <li><i class="fas fa-check"></i> Unlimited members</li>
          <li><i class="fas fa-check"></i> Digital newspaper (PDF) for all</li>
          <li><i class="fas fa-check"></i> Access to archives</li>
        </ul>
    </div>
    <div class="price price2" alt="prices2">
        <h4 class="price-title" style="background-color: #80cd8e">Abonnement 6 mois</h4>
        <div class="price-box-flex">
          <p style="font-size: 40px; font-weight: 700;color: rgb(100,100,100);">8,50€</p><p style="font-size: 14px; font-weight: 700;color: rgb(100,100,100); ">/month</p>
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Up to 12 pages</li>
          <li><i class="fas fa-check"></i> A4 printing on quality paper</li>
          <li><i class="fas fa-check"></i> Home delivery (all over the world)</li>
          <li><i class="fas fa-check"></i> Unlimited members</li>
          <li><i class="fas fa-check"></i> Digital newspaper (PDF) for all</li>
          <li class="price-off"><i class="fas fa-check"></i> Access to archives</li>
          <li style="background-color: #80cd8e; color: white;"><i class="fas fa-check"></i><strong> -15% OFF</strong></li>
        </ul>
    </div>
    <div class="price price3" alt="prices3">
        <h4 class="price-title" style="background-color: #00B9A0">Abonnement 1 an</h4>
        <div class="price-box-flex">
          <p style="font-size: 40px; font-weight: 700;color: rgb(100,100,100);">7,50€</p><p style="font-size: 14px; font-weight: 700;color: rgb(100,100,100); ">/month</p>
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Up to 12 pages</li>
          <li><i class="fas fa-check"></i> A4 printing on quality paper</li>
          <li><i class="fas fa-check"></i> Home delivery (all over the world)</li>
          <li><i class="fas fa-check"></i> Unlimited members</li>
          <li><i class="fas fa-check"></i> Digital newspaper (PDF) for all</li>
          <li class="price-off"><i class="fas fa-check"></i> Access to archives</li>
          <li style="background-color: #00B9A0; color: white;"><i class="fas fa-check"></i><strong> -25% OFF</strong></li>
        </ul>
    </div>
  </div>
  <div class="btn-container">
    <a class="btn btn-success2" href="#" style="font-size: 22px; width: 200px; margin-bottom: 35px; text-align: center;">Subscribe</a>
  </div>
  </div>

<!-- const blabla = "<p class='test'>blabla</p>""
 -->
