<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= asset_path("header-1024x498") %>');" alt="Banner" style="width:100vh;")>
  <div class="container">
    <h1>Tribu News </h1>
    <p>The family newspaper that unites generations</p>
    <a class="btn btn-success" href="#">Subscribe now</a>
  </div>
</div>



<!-- const blabla = "<p class='test'>blabla</p>""
 -->
