<<<<<<< HEAD

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Tribu News </h1>
    <p>The family newspaper that unites generations</p>
    <a class="btn btn-primary" href="#">Subscribe now</a>
  </div>
</div>
=======
>>>>>>> 42db8c6a52d5963cfe038b38422bcbda67334a3d
