<div class = "dashboard">

  <div class="sidebar">
    <div class="title-sidebar">
      TRIBU.NAME
    </div>
    <div class="action-sidebar">
      <div class="button-sidebar">
        <li> Tribe Informations (Link to) </li>
        <li> My Account (Link to)</li>
        <li> Subscription (Link to)</li>
      </div>
    </div>
  </div>
  <div class="main-content-dashboard">

    <div class="action-edit">
      <h2 class= "title-dashboard-button"> Edit your Family Newspaper</h2>
      <%= image_tag("TRIBU_JOURNAL_PRESSE_post.jpg", alt: "newspaper", height: 100, width: 150) %>
    </div>

    <div class="countdown">
      <h2 class= "title-dashboard"> </h2>
      <div class="counter">
        <div id="demo"></div>
        <div class="description-counter">
          <li> days  </li>
          <li> hours</li>
          <li> minutes</li>
          <li> seconds</li> </div>
        </div>
        <div class="countdown-text">
          before printing your family newspaper
        </div>
      </div>

      <div class="member-list">
        <h2 class= "title-dashboard"> Members of your Tribe </h2>
        <%= render  'share/member-action', user: @user %>

        <% current_user.tribe.users.each do |user| %>
       <%= render  'share/member-tag', user: user %>
       <% end %>
      </div>


    </div>
  </div>

