<div class="layout_title" id="layout_title">
  <div id="box_layout_title">
    <div id="box_00_01"%>
      <% if @newspaper.pages[current_page].boxes.order("id ASC")[0].picture.nil? %>
      <% else %>
        <%= image_tag @newspaper.pages[current_page].boxes.order("id ASC")[0].picture.photo.url(:frontpage) %>
<!--        cl_image_tag(@pic_boxes[0].picture.photo, crop: :fill, gravity: :face, id:"cl_00  _01", class: "layout0-image") -->
      <% end %>
      <div id="layout_title_logo">
  <%= wicked_pdf_image_tag "TRIBU_Logo_gradient_web_with_alpha.png" , width: '200px', height: '200px' , class: 'logo-img' %>
      </div>
    </div>
    <div class = "layout_title_foreground">
      <div class="tribe-name">
        <h2>our monthly</h2>
        <h1><%=@tribe.name%></h1>
        <h2>family newsletter</h2>
      </div>
      <div class="month">
        <%=@newspaper.published_on.strftime("%B %Y")%>
      </div>
    </div>
  </div>
</div>
