
  <div class="layout-pane">
    <div class ="layout-header">
      <h3>page layout</h3>
    </div>
    <div class="layout-byheader">
    </div>
    <div class="layout-content">

    </div>
  </div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>


<script>
</script>
