.dashboard {
}
.structure {
  display: grid;
  text-align: center;
  grid-template-columns: 300px auto 300px;
}
.sidebar {
  position: relative;
  height: 1000px;
  background-color: white;
}
.title-sidebar {
  display: flex;

  height : 50px;
  background-image: linear-gradient(to right, $tribu-green, $tribu-yellow);
  justify-content: center;
  align-items: center;
  text-color : white;
}

.action-sidebar {
  display: flex;

  height : 950px;
  background-color: white;
  justify-content: center;
}

.button-sidebar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  display: inline-block;
  padding: 25px;
}

.button-sidebar li {
  list-style-type: none;
  padding: 50px;
}

.main-content-dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 1000px;
  align-items: center;
  background-color : #eeeeee;
  padding: 15px;
}

.action-edit {
  width : 500px;
  height : 70px;
  background-color : $tribu-green;
  margin: 10px;
  border-radius: 8px;
  color: white;

}

.title-dashboard-button {
  background-color: $tribu-green;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.countdown {
  width : 800px;
  height : 225px;
  background-color : white;
  border-color: $tribu-green;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.countdown-text {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 8px;
  background-color: white;
  color: $tribu-green;
  text-align: center;
  text-decoration: underline;
  border-radius: 6px;
  margin-top: 21px;
  text-align: center;
  align-items: center;
}

.member-list {
  border-color: $tribu-green;


}

.title-dashboard {
  color: $tribu-green;
  text-align: center;
  margin-top: 15px;
  a {
    color: white;
  }
}

.counter {
 text-align: center;
}

.description-counter li {
  list-style-type: none;
  display:inline;
  padding: 22px;
  color: $tribu-green;
}

#demo {
  font-size: 60px;
  color: $tribu-green;
}
.add-button {
  background-color: $tribu-green;
  border: none !important;
  &:hover {
    background-color: $tribu-green2;
  }
  &:active {
    background-color: $tribu-green !important;
    border-style: none;
    box-shadow: none !important;
  }
  &:focus {
    box-shadow: none;
  }
}

// HERE IS CSS FOR MEMBER CARDS


.member-container{
  display:inline-flex;
  width:100%;

}

.avatar-dashboard{
  position: relative;
  padding: 8px 8px 0px 0px;
}

.member-status{
  position: relative;
  left: 29px;
  top: 10px;
  background-color:red;
  border-radius:50px;

  width:10px;
  height:10px;
}

.member-info{
  padding: 10px 0px 0px 8px;
  font-size:25px;
}

// HERE IS CSS FOR MEMBER ACTION IN DISPLAY list

.action-container{

}

.invite {
  display:inline-block;
  border-radius: 50px;
  margin: 0px 0px 0px 12px;
}

.search{
  display:inline-block;

}
