.dashboard {
}
.structure {
  display: grid;
  text-align: center;
  grid-template-columns: 300px auto 400px;
}
.sidebar {
  position: relative;
  // height: 100vh;

  background-color: white;
}
.title-sidebar {
  display: flex;
  padding: 30px;
  background-image: linear-gradient(45deg, $tribu-green, $tribu-yellow);
  justify-content: center;
  align-items: center;
  text-color : white;
  h3 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

.action-sidebar {
  display: flex;
  background-color: white;
  justify-content: center;
}

.button-sidebar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  display: inline-block;
  padding-top: 30px;
}

.button-sidebar li {
  display: inline-flex;
  margin: 10px;
  width: 260px;
  height: 70px;
  // justify-content: center;
  align-items: center;
  color: gray;

  a {
    color: gray;
  }
}
.main-content-dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color : #eeeeee;
  padding: 15px;
}
.tribe-avatar {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border-radius: 6px;
  align-items: center;
  margin-top: 20px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: $tribu-green;
  img {
    border-radius: 0px 0px 6px 6px;
    width: 100%;
  }
  h2 {
    color: gray;
    padding-top: 10px;
  }
}
.countdown {
  width : 700px;
  height : 225px;
  background-color : white;
  margin: 10px;
  border-radius: 6px;
  margin-top: 30px;
}
.title-dashboard-button {
  background-color: $tribu-green;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  margin: 10px;
}
.countdown-text {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 8px;
  background-color: white;
  color: $tribu-green;
  text-align: center;
  text-decoration: underline;
  border-radius: 6px;
  margin-top: 21px;
  text-align: center;
  align-items: center;
}
.action-edit {
  width : 500px;
  height : 70px;
  background-color : $tribu-green;
  margin: 10px;
  border-radius: 8px;
  color: white;
  margin-top: 20px;
}
.member-list {
  padding-top: 15px;
  padding-right: 15px;
}
.member-select {
  padding:20px 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 6px;
  width: 375px;
}
.title-dashboard {
  color: $tribu-green;
  text-align: center;
  margin-top: 15px;
  a {
    color: white;
  }
}
d

h2.title-dashboard {
  margin-bottom: 12px;
}

.chat-box {
  margin: 20px;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
}
#container-chatbox {
  box-shadow: none !important;
  padding: 0 20px;
  margin-bottom: 30px;
}

#chatbox-element {
  box-shadow: none;
}

.form-group.text.optional.message_message {
  box-shadow: none;
}
.form-control-label {
  margin-left: 20px;
}

.counter {
 text-align: center;
}

.description-counter li {
  list-style-type: none;
  display:inline;
  padding: 22px;
  color: $tribu-green;
}

#demo {
  font-size: 60px;
  color: $tribu-green;
}
.add-button {
  background-color: $tribu-green;
  border: none !important;
  &:hover {
    background-color: $tribu-green2;
  }
  &:active {
    background-color: $tribu-green !important;
    border-style: none;
    box-shadow: none !important;
  }
  &:focus {
    box-shadow: none;
  }
}

// HERE IS CSS FOR MEMBER CARDS


.member-container{
  display:flex;
  // width:100%;
  padding: 4px;


  font-family: "Open Sans";
}

.avatar-dashboard{
  position: relative;
  padding: 8px 8px 0px 0px;

}

.member-status{

  position: relative;
  left: 29px;
  top: 10px;
  background-color:red;
  border-radius:50px;

  width:10px;
  height:10px;
}

.member-info{
  padding: 10px 0px 0px 8px;
  font-size: 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;

}

// HERE IS CSS FOR MEMBER ACTION IN DISPLAY list

.action-container{

}

.invite {
  display:inline-block;
  border-radius: 50px;
  margin: 0px 0px 0px 12px;
}

.search{
  display:inline-block;
}
