.dashboard {
}
.structure {
  display: grid;
  text-align: center;
  grid-template-columns: 300px auto;
}
.sidebar {
  position: relative;
  // height: 100vh;

  background-color: white;
}
.title-sidebar {
  display: flex;
  padding: 20px;
  background-image: linear-gradient(45deg, $tribu-green, $tribu-yellow);
  justify-content: center;
  // align-items: center;
  text-color : white;
  margin-bottom:2em;
  margin-top:3em;
  h3 {
    margin-top: 20px;
    color:white;
  }
}

#tribe_name {
margin-top:3em;
}
.dashboard h3  {
    font-weight: 300;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .title-side-bar h3 {
    margin-top: 20px;
  }
  .title-sidebar h3 {
    color:white;
  }



.action-sidebar {
  display: flex;
  background-color: white;
  justify-content: center;
}

.button-sidebar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  display: inline-block;
  padding-top: 30px;
}

.button-sidebar li {
  display: inline-flex;
  margin: 10px;
  width: 260px;
  height: 70px;
  // justify-content: center;
  align-items: center;
  color: gray;

  a {
    color: gray;
  }
}
.main-content-dashboard {
  min-height:88vh;
  display: flex;
  // flex-direction: column;
  text-align: center;
  align-items: center;
  background-color : #eeeeee;
  padding: 15px;
}

.dashboard-middle {
  flex: 1 1 auto;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height:70vh;
}

.tribe-avatar {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  border-radius: 6px;
  align-items: center;
  margin-top: 20px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: $tribu-green;
  img {
    border-radius: 0px 0px 6px 6px;
    width: 100%;
  }
  h2 {
    color: gray;
    padding-top: 10px;
  }
}
.countdown {
  // width : 700px;
  // height : 225px;
  // background-color : white;
  // margin: 10px;
  // border-radius: 6px;
  // margin-top: 30px;
}
.title-dashboard-button {
  background-color: $tribu-green;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  margin: 10px;
}
.countdown-text {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 8px;
  // background-color: white;
  color: white;
  text-align: center;
  // text-decoration: underline;
  border-radius: 6px;
  margin-top: 21px;
  text-align: center;
  align-items: center;
}
.action-edit {
  width : 500px;
  height : 70px;
  background-color : $tribu-green;
  margin: 10px;
  border-radius: 8px;
  color: white;
  margin-top: 20px;
}
.member-list {
  padding-top: 15px;
  padding-right: 15px;
}

.member-select {
  // padding:20px 20px;
  // flex: 1 0 35%;
  background-color: white;
  border-radius: 6px;
  // width: 375px;
}

.title-dashboard {
  // color: $tribu-green;
  text-align: center;
  margin-top: 15px;
  a {
    color: white;
  }
}

#chat-div {
  padding: 35px 20px;
  width: 400px;
  margin-right:2em;
  opacity: .95;
}

.chat-box {
  height: 40vh;
}

#chatbox-element {
  height: 15vh;
}

h2.title-dashboard {
  margin-bottom: 12px;
}

.chat-box {
  margin: 20px;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
  font-size:18px;
}
#container-chatbox {
  box-shadow: none !important;
  padding: 0 20px;
  margin-bottom: 30px;
}

#chatbox-element {
  box-shadow: none;
}

.form-group.text.optional.message_message {
  box-shadow: none;
}
.form-control-label {
  margin-left: 20px;
}

.counter {
 text-align: center;
 font-family: "Orbitron";
 font-weight: 500;
}

.description-counter {
  margin-left:10px;
}

.description-counter li {
  list-style-type: none;
  display:inline;
  padding: 30px;
  color: white;
  font-size:20px;
  text-align:left;
  margin:0;
}

#demo {
  font-size: 80px;
  color: white;
  text-align:left;
  font-weight:600;
}
.add-button {
  background-color: $tribu-green;
  border: none !important;
  &:hover {
    background-color: $tribu-green2;
  }
  &:active {
    background-color: $tribu-green !important;
    border-style: none;
    box-shadow: none !important;
  }
  &:focus {
    box-shadow: none;
  }
}

// HERE IS CSS FOR MEMBER CARDS


.member-container{
  display:flex;
  // width:100%;
  padding-left: 30px;
  font-family: "Open Sans";
}

.avatar-dashboard{
  position: relative;
  padding: 8px 8px 0px 0px;

}

.member-status{

  position: relative;
  left: 29px;
  top: 10px;
  background-color:red;
  border-radius:50px;
  width:10px;
  height:10px;
}

.member-info{
  padding: 10px 0px 0px 8px;
  font-size: 20px;
    display: flex;
  flex-direction: column;
  justify-content: center;

}

// HERE IS CSS FOR MEMBER ACTION IN DISPLAY list

.action-container{
  margin-top:2.5em;
}

.invite {
  display:inline-block;
  border-radius: 50px;
  margin: 0px 0px 0px 12px;
}

.search{
  display:inline-block;
}

#chatbox-element {
  padding: 8px;
  font-size:20px;
  font-weight:normal;
}
