<div class="layout" id="layout_02">

  <div class="photo-box pic photobook_pic" id="box_02_01" data-chosen="true" data-boxes="true" data-box-number="1">
    <% if @pic_boxes[0].nil? %>
     NO PIC
    <% else %>
    <%= cl_image_tag(@pic_boxes[0].picture.photo, crop: :fill, gravity: :face, width:500, height: 380, id:"cl_02_01") %>
    <%end%>
  </div>


  <div class="photo-box pic photobook_pic" id="box_02_02" data-chosen="true" data-boxes="true" data-box-number="2">
   <% if @pic_boxes[1].nil? %>
   NO PIC
   <% else %>
   <%= cl_image_tag(@pic_boxes[1].picture.photo, crop: :fill, gravity: :face, width:500, height: 380, id:"cl_02_01") %>
   <%end%>
 </div>
</div>


<!-- cl_image_tag("v1552513403/vwv18yb112kphdpkb8xk.jpg", id:"cl_02_01") ==> TO TEST -->

