<div class="layout">
  <% (1..10).each do |i| %>
    <div class="photo-box" data-boxes="true" data-box-number="<%= i %>">
    </div>
  <% end %>
</div>


<!-- cl_image_tag("v1552513403/vwv18yb112kphdpkb8xk.jpg", id:"cl_02_01") ==> TO TEST -->
