<div class="layout" id ="layout_02">
  <div class="box" id="box_02_01">
    <div class="empty">
    </div>
  </div>
  <div class="box" id="box_02_02">
  <div class="empty">
    </div>
  </div>
</div>


<!-- cl_image_tag("v1552513403/vwv18yb112kphdpkb8xk.jpg", id:"cl_02_01") ==> TO TEST -->
