<div class="layout" id="layout_title">
  <div class="box pic" id="box_layout_title" style="background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0px, rgba(0,0,0,0.2) 800px), url(<%= cloudinary_url('v1552513403/vwv18yb112kphdpkb8xk.jpg' )%>);
  background-size: cover; background-color: rgba(50, 135, 100, 0.1); background-blend-mode: soft-light;">
  <%= image_tag "TRIBU_Logo_gradient_web_with_alpha.png", height: 50, width:75, id:"layout_title_logo"%>
  <div class = "layout_title_foreground">
    <div class="tribe-name">
      <h2>our monthly</h2>
      <h1>Vandergooten</h1>
      <h2>family newsletter</h2>
    </div>
    <div class="month">
      september 2017
  </div>
</div>
<!-- <div class="layout_00_titleblock">

</div> -->
</div>

