<div class="layout" id="layout_01">
  <div class="box pic" id="box_01_01">
    <%= cl_image_tag("v1552513403/vwv18yb112kphdpkb8xk.jpg", crop: :fill, gravity: :face, width:500, height:550) %>
  </div>

  <%= simple_form_for(@box_02) do |f| %>
  <div class="box text" content-editable = "true" id="box_01_02">
      ...
  </div>
  <%= f.hidden_field :content_text, value: "" %>
  <% end %>
</div>
