
.layout {
  padding: 30px 10px;
  height: 860px;
  width: 570px;
  border: solid 1px green;
}

.photo-box {
  height:100%; //NODIG???
}


#layout_00 {
  padding:0 0;
  color:white;
}

.text {
  border: solid 1px #CCC;
}

#box_00_01 {
    // height:700px; //overwrite .box
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    position:relative;

    .tribe-name{
      margin-top:400px;
    }
    .layout_00_foreground {

    }
    h1 {
      font-family:"Raleway";
      font-weight::200;
    }
    h2 {
      font-family:"Open Sans";
      font-weight:300;
      font-size:24px;
      margin:30px 0;
    }
    .month {
      margin-top:200px;
      font-weight:700;
      font-size:20px;
    }
  }

  #layout_00_logo {
    position:absolute;
    top: 20px;
    right:20px;
  }

  // ---layout 1
  #layout_01 {
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }

  #box_01_01 {
  width:500px;
  height:550px;
  }

  #box_01_02 {
    width:500px;
    height: 200px;
  }

#layout_02 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



// ---layout 2
#box_02_01, #box_02_02 {
  //temp
  width:500px;
  height:380px;
}

.empty {
  height:100%;
  background: radial-gradient(hsla(175, 50%, 37%,.2),rgba(255,255,255,.9));
}
