
.layout {
  padding: 30px 10px;
  height: 860px;
  width: 570px;
  border: solid 1px green;
}

.photo-box {
  height:100%; //NODIG???
}

.text {
  border: solid 2px rgba(200,200,200,0.3);
  box-shadow: 8px 16px 34px -11px rgba(0,0,0,0.62);
  border-radius: 5px;
  padding: 5px 20px;
  text-align: left;

}

.photobook_pic {
  display:flex;
  justify-content:center;
  margin: 8px;
  // margin-right: 12px;
  box-shadow: 8px 16px 34px -11px rgba(0,0,0,0.2);
}



#layout_title, #layout_00 {
  padding:0 0;
  color:white;
}


#box_layout_title {
    // height:700px; //overwrite .box
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    position:relative;
    margin:0;
    height:860px;

    .tribe-name{
      margin-top:400px;
    }


    h1 {
      font-family:"Raleway";
      font-weight::200;
    }
    h2 {
      font-family:"Open Sans";
      font-weight:300;
      font-size:24px;
      margin:30px 0;
    }
    .month {
      margin-top:200px;
      font-weight:700;
      font-size:20px;
    }
  }

  #layout_title_logo {
    position:absolute;
    top: 20px;
    right:20px;
  }

// ---layout 1
  #layout_01 {
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }

 #box_01_01 {
  width:500px;
  height:700px;
}

  // ---layout 1
  #layout_02 {
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }

 #box_02_01 {
  width:500px;
  height:550px;
}

#box_02_02 {
  width:500px;
  height: 200px;
}


// ---layout 2

#layout_03 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#box_03_01, #box_03_02 {
  //temp
  width:500px;
  height:380px;
}

.empty {
  height:100%;
  background: radial-gradient(hsla(175, 50%, 37%,.2),rgba(255,255,255,.9));
}

// ----layout 3

#layout_04 {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#box_04_01, #box_04_02 {
  //temp
  width:500px;
  height:270px;
}

// ----layout 4


#layout_05 {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .picture_row {
    display:flex;
    justify-content: space-between;
  }
}

#box_05_01, #box_05_02, #box_05_03, #box_05_04 {
  //temp
  width:250px;
  height:320px;
}

// ----layout 5
#layout_06 {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .picture_row {
    display:flex;
    justify-content: space-between;
  }
}

#box_06_01, #box_06_02, #box_06_03, #box_06_04 {
  //temp
  width:240px;
  height:300px;
}
#box_06_05 {
  width:500px;
  height:100px;
}

.empty {
  height:100%;
  background: radial-gradient(hsla(175, 50%, 37%,.2),rgba(255,255,255,.9));
}

